@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin:0;
    padding:0;
    
}
body{
    font-family: 'Rubik', sans-serif;
    background-color: #23292e;
}
main{
    max-width: 300px;
    margin: 0 auto;
  text-align: center;
    background-color: #191d20;
padding: 50px;
  border-radius: 10px;
}
#tarefa-nova{
    width: 250px;
    border-radius: 10px;
    border: 1px solid  #191d20;
}
.entrada{
    margin-top: 20px;
    width: 300px;
  
    display: flex;
    height: 30px;

    align-content: center;
   justify-content: space-between;
}

.logo{
    width: 200px;
    margin: 20px;
}
h1, p{
    color: #fff;
    text-align: center;
}
.botao{
    background-color: aqua;
    padding: 0 5px;
    border: none;
   
    border-radius: 5px;
    font-size: 1em;
  cursor: pointer;
}
#caixa{
    margin-top: 20px;
}
#lista{
    list-style: none;
}
#lista .item{
    text-align: left;
   margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid lightgray;
   border-radius: 5px;
    background-color: #fff;
}
#lista li > span ~ button{
    background-color: aqua;
    border: 1px solid rgb(0, 0, 0);
    width: 30px;
    border-radius: 5px;
}
#lista li > span ~ button:hover{
    transform: scale(1.1);
    font-weight: 600;
}
#lista li > span{
    width: 100%;
}
.concluida span {
   
    color: #2c2b2b;
    background-color: aquamarine;
    border-radius: 5px;
    
}
.concluida span::after{
    content: '[Ok] - dblclick p/ desmarcar';
    color: black;
}
.primeiro-list{
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.primeiro-list span{
    text-align: center;
}
.primeiro-list .icon-lista{
    width: 30px;
}
#limpar{
    
    margin: 20px auto;
    padding: 5px;
    width: 200px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    background-color: aqua;
   
}