@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Rubik', sans-serif;
    background-color: #23292e;
}
main{
    max-width: 300px;
    margin: 0 auto;
    border: 10px solid blue;
}
.logo{
    width: 200px;
    margin: 20px;
}
h1, p{
    color: #fff;
    text-align: center;
}
.botao{
    background-color: #32cdac;
    padding: 10px;
    border: none;
    margin-left: 10px;
    border-radius: 20px;
    font-size: 1em;
  cursor: pointer;
}
#btn_adicionar{
    
}
#lista{
    display: flex;
    flex-direction: column;
}
#lista li{
   
    align-items: space-between;
    border: 1px solid lightgray;
    list-style: none;
    width: 100%;
    background-color: #fff;
}